<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Not Access</title>
	<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
	<style>
		body {
			background-color: #f8fafc;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100vh;
		}
	</style>
</head>
<body>
	<div class="bg-white p-8 rounded-lg shadow-md">
		<p class="text-2xl text-gray-800 mb-4">You don't have access</p>
		<img src="https://www.pngkit.com/png/full/384-3849656_always-and-never-health-and-safety-symbols.png" width="250px" height="250px" alt="Access Denied" class="mb-4">
		<a href="/" class="text-blue-500 hover:underline">Return to Home</a>
	</div>
</body>
</html>
